<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MedicataMOV2PortSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="MedicataMOV2PortSoap111" />
                <binding name="MedicataMOV2PortSoap112">
                    <security mode="Transport" />
                </binding>
                <binding name="MedicataMOV2PortSoap113" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api-test.e-rx31.ru/ws/mo/v2" binding="basicHttpBinding"
                bindingConfiguration="MedicataMOV2PortSoap112" contract="ServiceReference1.MedicataMOV2Port"
                name="MedicataMOV2PortSoap111" />
            <endpoint address="https://api.medicata.dev/ws/mo/v2" binding="basicHttpBinding"
                bindingConfiguration="MedicataMOV2PortSoap11" contract="ServiceReference2.MedicataMOV2Port"
                name="MedicataMOV2PortSoap11" />
        </client>
    </system.serviceModel>
</configuration>